.table{
    width: 94vw;
    text-align: center;
}
table, th, td {
    border: 1px solid;
}
.box_img{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 100px;
    justify-content:space-around;
}
.img{
    width: 30%;
}
.tr td{
    text-align: center;
}
.color{
    width: 30px;
    height: 30px;
}
