.box{
    width: 100%;
    display: flex;
    justify-content: center;
}
.box_content{
    width: 40%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
.box_content > img{
    width: 100%;
}